/* src/styles/navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #001529;
  padding: 0 20px;
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.menu-item {
  color: white !important;
  font-weight: 500;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: #1890ff !important;
  color: white !important;
}
